*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/keys/google-services.json
/app/src/main/res/values/keys.xml
/app/src/main/res/raw/vidg.gif
/app/src/main/res/drawable/vidg.gif
/app/src/main/res/raw/vid.mp4
/app/src/main/res/drawable/logf.png
/app/src/main/res/drawable/log_insidec.png
/app/src/main/res/drawable/log3.png
/app/src/main/res/drawable/log2.png
/app/src/main/res/drawable/log.png
/app/google-services.json
/app/release/app-release.aab
/app/src/release/res/values/keys.xml
/app/src/androidTest/java/com/voidsamuraj/lumbze/ExampleInstrumentedTest.kt
/app/src/test/java/com/voidsamuraj/lumbze/ExampleUnitTest.kt
/.idea/
/gradle/
/app/release/
/app/schemas/
/app/src/test/
/app/src/release/
/app/src/main/res/xml/
